doctype html
html
  head
    link(rel="icon", type="image/ico", href="https://smilebasicsource.com/favicon.ico")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Montserrat", type="text/css", media="all")
    link(rel="stylesheet", href="/css/style.css")
    title String Class Extension
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body(data-ng-app="string")
    block content
    script(src="js/app.min.js")
