doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/ico" href="https://smilebasicsource.com/favicon.ico")
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat' type='text/css' media='all') 
    title String Class Extension
    link(rel='stylesheet', href='/css/style.css')
  body(ng-app='string')
    block content
    script(src='js/app.min.js')
